.bottom-buttons {
    margin: 50px 0;
}

.custom-btn {
    background-color: #bd9c6f;
    border-radius:0.5rem;
    border: none;
    color: #fff;
    font-weight:700;
    margin: 0 15px;
    padding:15px;
}

.custom-btn:hover {
    background-color: #9e835d;
    border-color : #9c805c;
}

.custom-btn:visited, .custom-btn:hover, .custom-btn:active, .custom-btn:focus {
    color: #fff !important;
    outline: none !important;
    text-decoration: none !important;
}

.custom-form {
    margin:0 auto;
    padding: 50px;
    width:60%;
}

.example_id {
    border-radius: 1rem;
    margin-bottom : 100px;
}

.form-field {
    margin-bottom:15px;
}

.form-field input:focus {
    border:1px solid #bd9c6f;
    outline: none !important;
}

.global-container {
    align-items:center;
    background-color : #FAEEE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height:100vh;
    overflow: auto;
    padding:50px 0;
    text-align:center;
    width:70%;
}

.mark-watched {
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    margin-left:16px;
    text-align: left;
}

.video-global {
    margin-bottom:20px;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 1.75rem 0;
}

.yt-video {
    height:315px;
    margin:16px;
    width:560px;
}

a {
    color: #403d37;
    font-weight: 600;
    text-decoration:none;
}

a:hover {
    color: #000;
    text-decoration:none;
}

footer {
    background-color: #e0cdb4;
    color: #24221f;
    padding: 80px 0;
    text-align:center;
}

h1 {
    font-size: 20px;
    line-height:5rem;
    margin:0;
    padding: 50px 0;
    text-align:center;
    width:85%;
}

html, body {
    background-color : #F9E4C8;
    color: #24221f;
    margin: 0;
}

nav {
    background-color: #e0cdb4;
}

p {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
}



.channel-listing {
    width:80%;
}


.custom-navbar-links {
    width: 100%;
justify-content: space-evenly;
}


.custom-navbar {
    height:80px;
}



@media (max-width: 700px) {

    .yt-video {
        height:225px;
        width:400px;

    }
}


@media (max-width: 900px) {

    h1 {

        line-height: 4rem;
    }

    .global-container {
        padding: 3rem 0 6rem;
        width: 100%;
    }


    .example_id {
        margin-bottom: 20px;
        width: 80%;

    }


    .custom-form {
        width: 100%;
    }




}



