html, body {

    margin: 0;
    background-color : #F9E4C8;
    color: #24221f;


}

h1 {
    margin:0;
    padding: 50px 0;
    text-align:center;
    width:70%;
    line-height:5rem;


}


a {
    text-decoration:none;
    color: #403d37;
    font-weight: 600;
}

a:hover {
    text-decoration:none;
    color: #000;

}


.global-container {


    background-color : #FAEEE0;

    margin: 0 auto;
    text-align:center;
    overflow: auto;

    width:65%;
    min-height:100vh;


    display: flex;
    align-items:center;
        justify-content: center;
    flex-direction: column;
    padding:50px 0;



}


.videos-container {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 1.75rem 0;

}







.yt-video {
    height:315px;
    padding:20px;
    width:560px;

}


.custom-form {

    padding: 50px;
    width:60%;
    margin:0 auto;

}




.example_id {
    margin-bottom : 100px;
    border-radius: 1rem;

}



.custom-btn {
margin: 50px 0 20px;
        background-color: #bd9c6f;
            border-color : #b8976c;
            color: #fff;
            padding:15px;
            border-radius:0.5rem;
            font-weight:700;

}

.custom-btn:hover {

    background-color: #9e835d;
    border-color : #9c805c;
    text-decoration:none;
    color: #fff;
}



@media (max-width: 700px) {
.yt-video {
    height:244px;

    width:435px;

}
}


@media (max-width: 900px) {
.global-container {
    width: 100%;

    padding: 3rem 0 6rem;
}
h1 {
    font-size: 26px;
    line-height: 4rem;
}
.custom-form {
    width: 100%;
}
.example_id {
    margin-bottom: 20px;
          width: 80%;

}





}



