
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}





<div class="global-container">

  <h1>Add a new YouTube channel</h1>

  <img class="example_id" src="{{url_for('.static', filename='img/example_id.png')}}" alt="example">



<form class="custom-form" method="POST" action="/">
    {{ form.csrf_token }}
    <div class="form-field"><div>{{ form.channel_name.label }}</div> {{ form.channel_name(size=20) }}</div>
  <div class="form-field">  <div>{{ form.channel_id.label }}</div> {{ form.channel_id(size=20) }}</div>

    <div class="form-field"><input type="submit" class="custom-btn" value="Submit"></div>
</form>






  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class=flashes>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <p><a href="{{ url_for('home') }}">Return to index page</a></p>

</div>



{% include "footer.html" %}



