{% include "header.html" %}

<div class="global-container">

    <h1>All channels</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="channels-container">
        <table>
            <thead>
            <tr>
                <th>Channel name</th>
                <th>Date added</th>
                <th>Total videos</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for channel in all_channels %}

            <tr>
                <td>{{ channel.channel_name }}</td>
                <td>{{ channel.date_added }}</td>
                <td>{{ channel.total_videos }}</td>
                <td><a href="{{ url_for('delete',channel_id=channel.channel_id) }}">Delete</a></td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>


</div>

{% include "footer.html" %}





