{% include "header.html" %}


<div class="global-container">

    <h1>Most recent videos from your favorite YouTube channels</h1>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="videos-container">

        {% if not all_channels %}
        <p>Please add a Youtube channel first and try to update manually</p>
        {% endif %}

        {% if not new_videos %}
        <p>You are up to date</p>
        {% endif %}

        {% if refresh_needed %}
        <p>New channel(s) detected. Please press "force update" button.</p>
        {% endif %}


        {% for channel in all_channels %}
        {% if channel.new and channel.latest_video_id %}

        <div class="video-global">
            <iframe class="yt-video"
                    src="https://www.youtube.com/embed/{{channel.latest_video_id}}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            <div class="mark-watched"><a href="{{ url_for('watched',channel_id=channel.channel_id) }}">Mark as watched</a></div>
        </div>

        {% endif %}
        {% endfor %}


    </div>

    <div class="bottom-buttons">
        <a class="custom-btn" href="{{ url_for('force_update') }}">Force update</a>
    </div>

</div>

{% include "footer.html" %}





